@{
	ViewData["Title"] = "Selection";
}

<div class="container">
    <div class="row justify-content-start">
        <div class="col-md-6 offset-md-3">
            <button type="button" class="btn btn-light"><a href="http://localhost:3000">Client</a></button>
            <button type="button" class="btn btn-light"><a href="http://localhost:3001">Employee</a></button>
        </div>
    </div>
</div>